@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #ffffff;

  color: #0f1a36;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.a-o-header.is-open .a-o-header-background {
  left: 0;
}
.a-o-header-button-wrapper {
  margin-left: auto;
}
.a-o-header-icon {
  display: none;
}

.a-o-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.a-o-navigation-list.is-open {
  right: 0;
}
.a-o-header-icon-menu {
  display: block;
}

.a-o-header-icon-button.is-open .a-o-header-icon-menu {
  display: none;
}

.a-o-header-icon-button.is-open .a-o-header-icon-close {
  display: block;
}

.a-o-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 52px;
  background: #0f1a36b2;
}

.a-o-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #0f1a36b2;
}
.a-o-header.is-open .a-o-header-background {
  left: 0;
}
.a-o-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.a-o-header-icon-menu {
  display: block;
}

.a-o-header-icon-button.is-open .a-o-header-icon-menu {
  display: none;
}

.a-o-header-icon-button.is-open .a-o-header-icon-close {
  display: block;
}

.a-o-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 6px 16px;
  position: relative;
}

.a-o-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  padding: 100px 0px;

  gap: 24px;
  background: #0f1a36b2;
}

.a-o-navigation-list.is-open {
  right: 0;
}

.a-o-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #b5bfd9;
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 108%;
  letter-spacing: 0%;
  text-align: center;
  padding: 8px 12px;
  display: block;
}

.a-o-navigation-link:hover,
.a-o-navigatioт-link:focus {
  color: #ffffff;
}

.a-o-header.is-open {
  background-color: transparent;
}

.a-o-navigation-img {
  display: none;
}

@media screen and (min-width: 1195px) {
  .a-o-navigation-img {
    display: block;
    margin-right: 144px;
  }
  .a-o-policy-terms-header-icon-menu {
    display: none;
  }
  .a-o-header-button-wrapper {
    display: none;
  }
  .a-o-header {
    width: 100%;
    height: 62px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .a-o-header-icon-button {
    display: none;
  }
  .a-o-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    padding: 0 0px;
    margin: auto;
  }

  .a-o-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 24px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .a-o-navigation-link {
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 108%;
    letter-spacing: 0%;
    text-align: center;
  }

  .a-o-navigation-item-desk {
    display: none;
  }
}

.a-o-home {
  width: 375px;
  height: 812px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Hero_Section.png");
  margin: auto;
}
.a-o-home-container {
  width: 375px;
  padding: 152px 16px 0px;
  margin: auto;
}

.a-o-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff4d;
  padding-top: 60px;
  padding-right: 24px;
  padding-bottom: 60px;
  padding-left: 24px;
  border-radius: 24px;
  backdrop-filter: blur(10px);
}

.a-o-home-title {
  font-family: Outfit;
  font-weight: 700;
  font-style: Bold;
  font-size: 42px;
  leading-trim: NONE;
  line-height: 115.99999999999999%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #c03286;
}

.a-o-home-text {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 144%;
  letter-spacing: 0%;
  text-align: center;
  color: #474e60;
  padding: 10px 0 40px;
}
.a-o-home-link {
  width: 295px;
  transition: all 0.3s ease-in-out;
}

.a-o-home-link:hover {
  transform: scale(1.04);
}
.a-o-home-titleq {
  color: #20318f;
}
.a-o-home-titlew {
  color: #ec5500;
}
@media screen and (min-width: 1195px) {
  .a-o-home {
    width: auto;

    background-image: url("/img/Hero_Section\ \(1\).png");
  }
  .a-o-home-container {
    width: 1440px;
    padding: 180px 352px 0px;
  }

  .a-o-home-container-top {
    width: 736px;
    padding-top: 60px;
    padding-right: 56px;
    padding-bottom: 60px;
    padding-left: 56px;
    border-radius: 24px;
  }

  .a-o-home-title {
    font-family: Outfit;
    font-weight: 700;
    font-style: Bold;
    font-size: 92px;
    leading-trim: NONE;
    line-height: 115.99999999999999%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }

  .a-o-home-text {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 144%;
    letter-spacing: 0%;
    text-align: center;
    width: 478px;
    padding: 10px 0 40px;
  }
  .a-o-home-link {
    width: 240px;
    content: url("/img/CTA_btn\ \(1\).png");
    transition: all 0.3s ease-in-out;
  }
}
.a-o-about {
  margin: auto;
  width: 375px;
  height: 859px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Section.png");
}
.a-o-about-container {
  width: 375px;
  padding: 312px 16px 0px;
  margin: auto;
}
.a-o-about-title {
  font-family: Outfit;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 2%;
  text-transform: lowercase;
}
.a-o-about-title::before {
  content: "• ";
  height: 19px;
  padding: 0 10px;
}
.a-o-about-title-two {
  font-family: Roboto;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 128%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #20318f;
  padding-top: 8px;
}
.a-o-about-text {
  padding-top: 16px;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 144%;
  letter-spacing: 0%;
  color: #474e60;
}

@media screen and (min-width: 1195px) {
  .a-o-about {
    width: 1440px;
    height: 415px;
    background-image: url("/img/Section\ \(1\).png");
  }
  .a-o-about-container {
    width: 1440px;
    padding: 80px 480px;
  }
  .a-o-about-title {
    font-family: Outfit;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 2%;
    text-transform: lowercase;
  }

  .a-o-about-title-two {
    font-family: Roboto;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 38px;
    leading-trim: NONE;
    line-height: 128%;
    letter-spacing: 0%;
    text-transform: capitalize;

    padding-top: 8px;
  }
  .a-o-about-text {
    padding-top: 16px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 144%;
    letter-spacing: 0%;
  }
}
.a-o-why {
  margin: auto;
  width: 375px;
  height: 1342px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Section\ \(2\).png");
}

.a-o-why-container {
  width: 375px;
  margin: auto;
  padding: 80px 40px 0;
}
.a-o-why-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.a-o-why-list-title {
  margin-bottom: 8px;
}
.a-o-why-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fbf5e8;
  box-shadow: 0px 8px 24px 0px #0a192f0f;
  padding-top: 24px;
  padding-right: 40px;
  padding-bottom: 24px;
  padding-left: 40px;
  border-radius: 16px;
}
.a-o-why-img {
  width: 60px;
}
.a-o-why-text-bold {
  font-family: Roboto;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 144%;
  letter-spacing: 0%;
  text-align: center;
  padding: 16px 0 8px;
}
.a-o-why-text {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 144%;
  letter-spacing: 0%;
  text-align: center;
  color: #474e60;
}

@media screen and (min-width: 1195px) {
  .a-o-why {
    width: 1440px;
    height: 692px;
    background-image: url("/img/Section\ \(3\).png");
  }
  .a-o-why-container {
    width: 1440px;
    padding: 120px 176px 0;
  }
  .a-o-why-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
  .a-o-why-list-title {
    margin-bottom: 0px;
    width: 341px;
  }
  .a-o-why-item {
    width: 341px;
    height: 210px;
    padding-top: 24px;
    padding-right: 40px;
    padding-bottom: 24px;
    padding-left: 40px;
    border-radius: 16px;
  }

  .a-o-why-text-bold {
    font-family: Roboto;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 144%;
    letter-spacing: 0%;
    text-align: center;
  }
  .a-o-why-text {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 144%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.a-o-uniqueness {
  margin: auto;
  width: 375px;
  height: 1093px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Section\ \(4\).png");
}
.a-o-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 40px 16px 0;
}
.a-o-uniqueness-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.a-o-uniqueness-item {
  box-shadow: 0px 8px 24px 0px #0a192f0f;
  background: #e3e3e3;
  display: flex;
  gap: 16px;
  align-items: center;

  padding-top: 16px;
  padding-right: 20px;
  padding-bottom: 16px;
  padding-left: 20px;
  border-radius: 16px;
}
.a-o-uniqueness-img {
  width: 60px;
}
.a-o-uniqueness-text-bold {
  font-family: Roboto;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 144%;
  letter-spacing: 0%;
}
.a-o-uniqueness-text {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 144%;
  letter-spacing: 0%;
  color: #474e60;
  padding-top: 4px;
}

@media screen and (min-width: 1195px) {
  .a-o-uniqueness {
    width: 1440px;
    height: 777px;
    background-image: url("/img/Section\ \(5\).png");
  }
  .a-o-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 64px 736px 0 176px;
  }
  .a-o-uniqueness-list {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .a-o-uniqueness-item {
    padding-top: 16px;
    padding-right: 20px;
    padding-bottom: 16px;
    padding-left: 20px;
    border-radius: 16px;
  }

  .a-o-uniqueness-text-bold {
    font-family: Roboto;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 144%;
    letter-spacing: 0%;
  }
  .a-o-uniqueness-text {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 144%;
    letter-spacing: 0%;
  }
}
.a-o-how {
  margin: auto;
  width: 375px;
  height: px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Section\ \(6\).png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.a-o-how-container {
  margin: auto;
  width: 375px;
  padding: 80px 40px;
}
.a-o-how-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.a-o-how-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 8px 24px 0px #0a192f0f;
  background: #ffffff;

  gap: 16px;

  padding-top: 32px;
  padding-right: 40px;
  padding-bottom: 32px;
  padding-left: 40px;
  border-radius: 16px;
}

.a-o-how-text-bold {
  font-family: Roboto;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 128%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}

.a-o-how-text {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 144%;
  letter-spacing: 0%;
  text-align: center;
  color: #474e60;
}

@media screen and (min-width: 1195px) {
  .a-o-how {
    width: 1440px;
    height: 713px;
    background-image: url("/img/Section\ \(7\).png");
  }
  .a-o-how-container {
    margin: auto;
    width: 1440px;
    padding: 120px 176px;
  }
  .a-o-how-list {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  .a-o-how-item {
    width: 341px;
    height: 357px;
    gap: 16px;
    angle: 0 deg;
    opacity: 1;
    padding-top: 32px;
    padding-right: 40px;
    padding-bottom: 32px;
    padding-left: 40px;
    border-radius: 16px;
  }

  .a-o-how-text-bold {
    font-family: Roboto;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 26px;
    leading-trim: NONE;
    line-height: 128%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
  }

  .a-o-how-text {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 144%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.a-o-characters {
  margin: auto;
  width: 375px;
  height: 1162px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Section\ \(8\).png");
}
.a-o-characters-container {
  padding: 64px 16px;
  margin: auto;
  width: 375px;
}
.a-o-characters-list {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  gap: 16px;
}
.a-o-characters-item {
  display: flex;
  align-items: center;
  box-shadow: 0px 8px 24px 0px #0a192f0f;
  background: #e3e3e3;

  border-radius: 8px;
  padding-top: 16px;
  padding-right: 20px;
  padding-bottom: 16px;
  padding-left: 20px;
  gap: 16px;
}
.a-o-characters-img {
  width: 60px;
}
.a-o-characters-text-bold {
  font-family: Roboto;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 144%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1195px) {
  .a-o-characters {
    width: 1440px;
    height: 570px;
    background-image: url("/img/Section\ \(9\).png");
  }
  .a-o-characters-container {
    padding: 73px 176px 0px 736px;
    margin: auto;
    width: 1440px;
  }
  .a-o-characters-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 40px;
    gap: 16px;
  }
  .a-o-characters-item {
    width: 256px;
    height: 92px;

    border-radius: 8px;
    padding-top: 16px;
    padding-right: 20px;
    padding-bottom: 16px;
    padding-left: 20px;
    gap: 16px;
  }
  .a-o-characters-img {
    width: 60px;
  }
  .a-o-characters-text-bold {
    font-family: Roboto;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 144%;
    letter-spacing: 0%;
  }
}

.a-o-reviews {
  margin: auto;
  width: 375px;
  height: 525px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/Section\ \(10\).png");
}
.a-o-reviews-container {
  margin: auto;
  padding: 80px 40px 0;
  width: 375px;
}
.a-o-reviews-list {
  padding-top: 24px;
}

.a-o-reviews-item {
  margin: 0 8px;
  width: 248px;
  height: 220px;

  border-radius: 24px;
  padding: 24px;
  background: #ffffff;
}
.a-o-reviews-itemq {
  margin-top: 32px;
}

.a-o-reviews-img {
  height: 24px;
  margin: auto;
}
.a-o-reviews-text-bold {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 144%;
  letter-spacing: 0%;
  color: #3c3c3c;
  text-align: center;
  height: 46px;
  margin: 16px 0 63px;
}

.a-o-reviews-text {
  font-family: Roboto;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 144%;
  letter-spacing: 0%;
  text-align: right;
  color: #082809;
}

@media screen and (min-width: 1195px) {
  .a-o-reviews {
    width: 1440px;
    height: 657px;
    background-image: url("/img/Section\ \(11\).png");
  }
  .a-o-reviews-container {
    margin: auto;
    padding: 120px 176px;
    width: 1440px;
  }
  .a-o-about-title-twoq {
    width: 584px;
  }
  .a-o-reviews-list {
    padding-top: 14px;
  }

  .a-o-reviews-item {
    margin: 0 13px;
    width: 248px;
    height: 220px;

    border-radius: 24px;
    padding: 24px;
    background: #ffffff;
  }
  .a-o-reviews-itemq {
    margin-top: 32px;
  }

  .a-o-reviews-text-bold {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 144%;
    letter-spacing: 0%;
    text-align: center;

    height: 78px;
    margin: 16px 0 28px;
  }

  .a-o-reviews-text {
    font-family: Roboto;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 144%;
    letter-spacing: 0%;
    text-align: right;
  }
}

.a-o-faq {
  margin: auto;
  width: 375px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/FAQ_Desktop.png");
}
.a-o-faq-container {
  padding: 40px 16px;
  width: 375px;
  margin: auto;
}
.a-o-faq-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.a-o-faq-item {
  background: #fbf5e8;
  border: 1px solid #686868;

  border-radius: 12px;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-width: 1px;
}

.a-o-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 144%;
  letter-spacing: 0%;
}

.a-o-faq-answer {
  width: 271px;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 144%;
  letter-spacing: 0%;
  color: #474e60;
}
.a-o-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.a-o-toggle-button img {
  width: 24px;
  transition: transform 0.3s ease;
}
.a-o-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.4s ease,
    opacity 0.4s ease;
  opacity: 0;
}

.a-o-faq-answer.open {
  max-height: 200px;
  opacity: 1;
  padding-top: 16px;
}

.a-o-toggle-button img.rotated {
  transform: rotate(180deg);
}
@media screen and (min-width: 1195px) {
  .a-o-faq {
    width: auto;
  }
  .a-o-faq-container {
    padding: 64px 344px;
    width: 1440px;
    margin: auto;
  }
  .a-o-faq-list {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .a-o-faq-item {
    border-radius: 12px;
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    border-width: 1px;
  }

  .a-o-faq-question {
    font-family: Roboto;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 144%;
    letter-spacing: 0%;
  }

  .a-o-faq-answer {
    width: auto;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 144%;
    letter-spacing: 0%;
  }
}

.a-o-gallery-container {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
}
.a-o-gallery-list {
  width: auto;
  padding-top: 14px;
  margin: auto;
  margin-left: -20px;
}

.a-o-gallery-item {
  overflow: hidden;
  position: relative;
  width: 264px;
  margin-left: -20px;
}

.a-o-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1195px) {
  .a-o-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 64px 176px;
  }
  .a-o-about-title-twow {
    width: 640px;
  }
  .a-o-gallery-list {
    padding-top: 28px;

    margin-left: -30px;
  }

  .a-o-gallery-item {
    overflow: hidden;
    position: relative;
    width: 302px;
    margin-left: -23px;
  }
}

.a-o-features {
  background: #0f1a36b2;
}
.a-o-features-container {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
}

.a-o-features-item {
  margin-top: 24px;
  background: #ffffff;

  border-radius: 8px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: space-between;
}

.a-o-features-text-bold {
  font-family: Roboto;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 144%;
  letter-spacing: 0%;
  color: #1d1d1d;
}

.a-o-features-text {
  background: #ff7a33;
  font-family: Roboto;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 144%;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
  display: block;
  border-radius: 8px;
  padding: 11px 26px;
  gap: 10px;
}

@media screen and (min-width: 1195px) {
  .a-o-features-container {
    width: 1440px;
    margin: auto;
    padding: 64px 124px;
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .a-o-features-div {
    width: 640px;
  }
  .a-o-features-item {
    margin-top: 0px;
    width: 512px;

    border-radius: 8px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
  }

  .a-o-features-text-bold {
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
  }

  .a-o-features-text {
    font-family: Roboto;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 144%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.a-o-policy-terms-container {
  padding: 112px 16px 60px;
  width: 375px;
  margin: auto;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 144%;
  letter-spacing: 0%;
}

.a-o-policy-terms-container h1 {
  text-transform: uppercase;
  margin-bottom: 40px;
  font-family: Roboto;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 128%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}
.a-o-policy-terms-container h2 {
  font-family: Roboto;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 128%;
  letter-spacing: 0%;
  text-transform: capitalize;

  margin: 16px 0;
}
.a-o-policy-terms-container ul {
  list-style-type: disc;
  margin-left: 20px;
  padding-bottom: 8px;
}
.a-o-policy-terms-container p {
  padding-bottom: 8px;
}
.a-o-policy-terms-container a {
  color: #006fff;
  text-decoration: none;
}
@media screen and (min-width: 1195px) {
  .a-o-policy-terms-container {
    padding: 142px 212px 80px;
    width: 1440px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 144%;
    letter-spacing: 0%;
  }

  .a-o-policy-terms-container h1 {
    text-transform: uppercase;
    margin-bottom: 40px;
    font-family: Roboto;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 38px;
    leading-trim: NONE;
    line-height: 128%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
  }
  .a-o-policy-terms-container h2 {
    font-family: Roboto;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 26px;
    leading-trim: NONE;
    line-height: 128%;
    letter-spacing: 0%;
    text-transform: capitalize;

    margin: 16px 0;
  }
}

.a-o-footer-container {
  width: 375px;
  padding: 60px 16px;
  margin: auto;
  display: flex;
  flex-direction: column;

  gap: 24px;
  color: #ffffff;
}

.a-o-footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.a-o-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Roboto;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 144%;
  letter-spacing: 0%;
  text-align: center;
}

.a-o-footer-copyright {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 144%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1195px) {
  .a-o-footer-container {
    width: 1440px;
    padding: 60px 88px;

    gap: 60px;
  }

  .a-o-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 60px;
  }

  .a-o-footer-text {
    font-family: Roboto;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 144%;
    letter-spacing: 0%;
    text-align: center;
  }

  .a-o-footer-copyright {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 144%;
    letter-spacing: 0%;
    text-align: center;
  }
}
